opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.9.7/linux_amd64.lock
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.9.7/linux_amd64/README.md
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.9.7/linux_amd64/terraform-provider-libvirt_v0.9.7
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.7.6/linux_amd64.lock
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.7.6/linux_amd64/CHANGELOG.md
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.7.6/linux_amd64/LICENSE
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.7.6/linux_amd64/README.md
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.7.6/linux_amd64/terraform-provider-libvirt_v0.7.6
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.8.3/linux_amd64.lock
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.8.3/linux_amd64/CHANGELOG.md
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.8.3/linux_amd64/LICENSE
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.8.3/linux_amd64/README.md
opentofu/.terraform/providers/registry.opentofu.org/dmacvicar/libvirt/0.8.3/linux_amd64/terraform-provider-libvirt_v0.8.3
opentofu/.terraform.lock.hcl
opentofu/terraform.tfstate
opentofu/terraform.tfstate.backup
opentofu/tfplan
terraform.tfstate
